/*  Tested on Firefox 133.0.3  */

/*  Delete this text to get Firefox default text color (especially it will appear darker in light mode). */
:root {
    --input-color: light-dark( rgba(0, 0, 0, .8), rgb(255, 255, 255) ) !important;
    --toolbox-non-lwt-textcolor: var(--input-color) !important;
    --lwt-text-color: var(--input-color) !important;
    --urlbarView-highlight-color: var(--input-color) !important;
    --arrowpanel-color: var(--input-color) !important;
    --sidebar-text-color: var(--input-color) !important;
    --tab-selected-textcolor: var(--input-color) !important;
    --toolbar-color: var(--input-color) !important;
    --toolbar-field-color: var(--input-color) !important;
    --toolbar-field-focus-color: var(--input-color) !important;
    --newtab-text-primary-color: var(--input-color) !important;
    --newtab-contextual-text-primary-color: var(--input-color) !important;
    --toolbar-non-lwt-textcolor: var(--input-color) !important;
    --toolbox-non-lwt-textcolor-inactive: var(--input-color) !important;
    --panel-banner-item-color: var(--input-color) !important;
    --button-text-color: var(--input-color) !important;
    --button-text-color-hover: var(--input-color) !important;
    --button-text-color-active: var(--input-color) !important;
    --button-text-color-disabled: var(--input-color) !important;
    --toolbar-color: var(--input-color) !important;
    @media (prefers-color-scheme: dark) {
        --toolbar-color: rgb(255, 255, 255) !important;
    }
}

/*  Delete until the next comment to get Firefox default background color (especially it will appear slightly bluish in dark mode).  */
:root {
    --button-background-color: light-dark( rgba(0, 0, 0, .03), rgba(255, 255, 255, .03) ) !important;
    --button-background-color-hover: light-dark( rgba(0, 0, 0, .06), rgba(255, 255, 255, .06) ) !important;
    --button-background-color-active: light-dark( rgba(0, 0, 0, .12), rgba(255, 255, 255, .12) ) !important;
    --newtab-button-background: transparent !important;
    --button-bgcolor: var(--button-background-color) !important;
    --panel-banner-item-background-color: var(--button-background-color) !important;
    --button-background-color-disabled: var(--button-background-color) !important;
    --button-hover-bgcolor: var(--button-background-color-hover) !important;
    --newtab-element-hover-color: var(--button-background-color-hover) !important;
    --panel-item-hover-bgcolor: var(--button-background-color-hover) !important;
    --panel-banner-item-hover-bgcolor: var(--button-background-color-hover) !important;
    --toolbarbutton-hover-background: var(--button-background-color-hover) !important;
    --button-background-color-ghost-hover: var(--button-background-color-hover) !important;
    --tab-hover-background-color: var(--button-background-color-hover) !important;
    --button-active-bgcolor: var(--button-background-color-active) !important;
    --newtab-element-active-color: var(--button-background-color-active) !important;
    --panel-item-active-bgcolor: var(--button-background-color-active) !important;
    --panel-banner-item-active-bgcolor: var(--button-background-color-active) !important;
    --toolbarbutton-active-background: var(--button-background-color-active) !important;
    --button-background-color-ghost-active: var(--button-background-color-active) !important;
    --newtab-button-static-background: light-dark(#F6F6F6, #3C3C3C) !important;
    --newtab-button-static-hover-background: light-dark(#EFEFEF, #424242) !important;
    --newtab-button-static-active-background: light-dark(#E0E0E0, #4E4E4E) !important;
    --toolbar-bgcolor: light-dark(#FEFEFE, #363636) !important;
    --input-bgcolor: light-dark(#FFFFFF, #444444) !important;
    --tabpanel-background-color: var(--toolbar-bgcolor) !important;
    --newtab-background-color: var(--toolbar-bgcolor) !important;
    --toolbar-non-lwt-bgcolor: var(--toolbar-bgcolor) !important;
    --tab-selected-bgcolor: var(--toolbar-bgcolor) !important;
    --button-text-color-primary: var(--toolbar-bgcolor) !important;
    --button-text-color-primary-hover: var(--toolbar-bgcolor) !important;
    --button-text-color-primary-active: var(--toolbar-bgcolor) !important;
    --button-text-color-primary-disabled: var(--toolbar-bgcolor) !important;
    --newtab-background-color-secondary: var(--input-bgcolor) !important;
    --arrowpanel-background: var(--input-bgcolor) !important;
    --toolbar-field-focus-background-color: var(--input-bgcolor) !important;
    --urlbarView-result-button-hover-color: var(--input-bgcolor) !important;
    --toolbarbutton-icon-fill-attention-text: light-dark(rgba(0, 0, 0, .05), rgba(0, 0, 0, .3)) !important;
    --lwt-sidebar-background-color: light-dark(#FEFEFE, #1D1D1D) !important;
    --sidebar-background-color: light-dark(#FEFEFE, #1D1D1D) !important;
    --background-color-canvas: light-dark(#FFFFFF, #222222) !important;
    --background-color-box: light-dark(#FFFFFF, #272727) !important;
    --in-content-table-background: var(--background-color-box) !important;
    --chrome-content-separator-color: light-dark( rgba(0, 0, 0, .15), rgba(0, 0, 0) ) !important;
    --toolbarbutton-icon-fill: light-dark( rgba(0, 0, 0, .555), rgba(255, 255, 255, .637) ) !important;
    --toolbarbutton-disabled-opacity: .3 !important;
    --color-accent-primary: light-dark(#2266EE, #50A6FA) !important;
    --newtab-primary-action-background: var(--color-accent-primary) !important;
    --focus-outline-color: var(--color-accent-primary) !important;
    --accent-color: var(--color-accent-primary) !important;
    --button-background-color-primary: var(--color-accent-primary) !important;
    --link-color: light-dark(#0360E5, #25A0FF) !important;
    --link-color-visited: var(--link-color) !important;
    --toolbarbutton-icon-fill-attention: light-dark(#003CCA, #5EA9FF) !important;
    --download-progress-fill-color: light-dark(#3A80F7, #3267DE) !important;
    --tab-loading-fill: light-dark(#3A80F7, #3267DE) !important;
}

@media (-moz-platform: windows) and (prefers-color-scheme: dark) {
    .urlbar-input:focus::selection,
    .searchbar-textbox:focus-within::selection {
        background-color: #0078D7 !important;
  }
}

menupopup:not(.toolbar-menupopup):not([placespopup="true"]) {
    --panel-background: light-dark(#FAFAFA, #2D2D2D) !important;
    menu, menuitem {
        &:where([_moz-menuactive]:not([disabled="true"])) {
            background-color: var(--button-background-color-active) !important;
        }
        &:where([_moz-menuactive="true"][disabled="true"]) {
            background-color: transparent !important;
        }
    }
}

tooltip {
    background-color: light-dark(#FAFAFA, #2B2B2B) !important;
}

/*  Delete up to here.  */


:root {
    --urlbarView-hover-background: var(--button-background-color-hover) !important;
    --urlbarView-highlight-background: var(--button-background-color-active) !important;
    --tabbar-separator-color: light-dark( rgba(0, 0, 0, .08), rgba(255, 255, 255, .25) );
    --toolbar-field-background-color: light-dark(#D7D7D7, #5C5C5C) !important;
	--toolbox-non-lwt-bgcolor: var(--toolbar-bgcolor) !important;
    --lwt-accent-color: var(--toolbar-bgcolor) !important;
    --lwt-accent-color-inactive: var(--toolbox-non-lwt-bgcolor-inactive) !important;
    --inactive-titlebar-opacity: 0.5 !important;
    --inactive-window-transition: none !important;
    --toolbar-start-end-padding: 12px !important;
    --toolbarbutton-outer-padding: 4px !important;
    --toolbarbutton-inner-padding: 6px !important;
    --toolbarbutton-border-radius: 6px !important;
    --button-border-radius: 6px !important;
    --tab-border-radius: 6px !important;
    --urlbar-min-height: 28px !important;
    --urlbar-margin-inline: 0px !important;
    --tab-shadow-max-size: 0px !important;
    --tab-min-height: 28px !important;
    @media (-moz-platform: windows) {
        /*  Make same as Windows 11  */
        --toolbox-non-lwt-bgcolor-inactive: light-dark(#F3F3F3, #202020) !important;
    }
    @media (-moz-platform: macos) {
        /*  Make same as macOS Big Sur +  */
        --toolbox-non-lwt-bgcolor-inactive: light-dark(#F0F0F0, #282828) !important;
    }
    &:-moz-window-inactive {
        --toolbar-bgcolor: var(--toolbox-non-lwt-bgcolor-inactive) !important;
    }
}

#nav-bar {
    background-color: transparent !important;
    font-size: 13px !important;
    height: 52px !important;
    align-items: center !important;

    [uidensity="compact"] & {
        height: 38px !important;
    }
}

#nav-bar {
    @media (-moz-platform: linux) {
	/*  Remove the 1px line at the top on Linux  */
        border-top: none !important;
    }
}

#nav-bar-customization-target {
    height: 28px !important;
}

:root[tabsintitlebar] #titlebar:-moz-window-inactive {
    opacity: 1 !important;
}

:root:not([privatebrowsingmode], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) ~ #tabbrowser-tabs, :root[privatebrowsingmode]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) ~ #tabbrowser-tabs {
    border-inline-start: none !important;
}

:root:not([macOSNativeFullscreen]):is([chromemargin], [inFullscreen]) #nav-bar > .titlebar-buttonbox-container {
    display: flex !important;
}

.titlebar-buttonbox {
    @media (-moz-platform: macos) {
        /*  Make same as Safari on Big Sur +  */
        margin-inline: 19px 7px !important;
    }
    @media (-moz-platform: windows) {
        padding-inline-end: calc(var(--toolbar-start-end-padding) - var(--toolbarbutton-outer-padding)) !important;
        > .titlebar-button {
            margin-inline: 4px !important;
            padding: 8px !important;
            border-radius: var(--toolbarbutton-border-radius) !important;
            &:hover {
                background-color: var(--toolbarbutton-hover-background) !important;
                &:active {
                    background-color: var(--toolbarbutton-active-background) !important;
                }
            }
        }
        > .titlebar-close:hover {
            stroke: white;
            background-color: #C42B1C !important;
            &:active {
                background-color: light-dark(#AC2619, #CB4437) !important;
            }
        }
    }
}

@media (-moz-platform: macos) {
    :root[uidensity="compact"] .titlebar-buttonbox {
        /*  Make same as Safari on Big Sur + compact toolbar style */
        margin-inline: 12px 4px !important;
    }
}

@media (-moz-platform: windows) {
    .titlebar-min {
        list-style-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='context-stroke' fill-opacity='context-stroke-opacity' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 6a.5.5 0 0 0-.5.5.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5z'/%3E%3C/svg%3E") !important;
        @media (resolution > 1dppx) {
            list-style-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='context-stroke' fill-opacity='context-stroke-opacity' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 5.5a.5.5 0 0 0-.5.5.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5.5.5 0 0 0-.5-.5z'/%3E%3C/svg%3E") !important;
        }
    }

    .titlebar-max {
        list-style-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='context-stroke' fill-opacity='context-stroke-opacity' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 1C1.677 1 1 1.677 1 2.5v7c0 .823.677 1.5 1.5 1.5h7c.823 0 1.5-.677 1.5-1.5v-7c0-.823-.677-1.5-1.5-1.5zm0 1h7c.282 0 .5.218.5.5v7c0 .282-.218.5-.5.5h-7a.493.493 0 0 1-.5-.5v-7c0-.282.218-.5.5-.5z'/%3E%3C/svg%3E") !important;
    }

    .titlebar-restore {
        list-style-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='context-stroke' fill-opacity='context-stroke-opacity' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 2h5A1.5 1.5 45 0 1 10 3.5v5a1 1 135 0 0 1-1v-4A2.5 2.5 45 0 0 8.5 1h-4a1 1 135 0 0-1 1zM1 4.5v5A1.5 1.5 45 0 0 2.5 11h5A1.5 1.5 135 0 0 9 9.5v-5A1.5 1.5 45 0 0 7.5 3h-5A1.5 1.5 135 0 0 1 4.5zM2.5 4h5a.5.5 45 0 1 .5.5v5a.5.5 135 0 1-.5.5h-5a.5.5 45 0 1-.5-.5v-5a.5.5 135 0 1 .5-.5z'/%3E%3C/svg%3E") !important;
    }

    .titlebar-close {
        list-style-image: url("data:image/svg+xml,%3Csvg width='12' height='12' fill='context-stroke' fill-opacity='context-stroke-opacity' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 1a.5.5 0 0 0-.353.146.5.5 0 0 0 0 .708L5.293 6l-4.146 4.145a.5.5 0 0 0 0 .707.5.5 0 0 0 .707 0L6 6.706l4.146 4.146a.5.5 0 0 0 .706 0 .5.5 0 0 0 0-.707L6.708 6l4.146-4.146a.5.5 0 0 0 0-.707.5.5 0 0 0-.707 0L5.998 5.292 1.855 1.146A.5.5 0 0 0 1.5 1z'/%3E%3C/svg%3E") !important;
    }
}

:root[sizemode="normal"][tabsintitlebar] {
    /*  Windows has eaten the topmost pixel, now let's make it spit it out.  */
    #nav-bar {
        @media (-moz-platform: windows) {
            padding-top: 1px !important;
            height: 53px !important;
            [uidensity="compact"] & {
                height: 39px !important;
            }
        }
    }
}

#urlbar-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#urlbar, #searchbar {
    font-size: inherit !important;
    --urlbar-icon-padding: 4px !important;
    --urlbar-box-bgcolor: var(--button-background-color) !important;
    --urlbar-box-focus-bgcolor: var(--button-background-color-hover) !important;
    --urlbar-box-hover-bgcolor: transparent !important;
    --urlbar-box-active-bgcolor: transparent !important;
    --urlbar-icon-fill-opacity: 1 !important;
}

.urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: var(--urlbar-container-padding) !important;
}

.urlbar-input, .searchbar-textbox {
    border-radius: 0 !important;
}

.urlbar-input::placeholder, .searchbar-textbox::placeholder {
    opacity: 0.35 !important;
}

#identity-box {
    margin-inline: 0 !important;
}

.searchbar-search-button{
    opacity: 0.63 !important;
}

#identity-box[pageproxystate="invalid"] #identity-icon,
.searchbar-search-icon {
    opacity: 0.5 !important;
}

#identity-box[pageproxystate="invalid"] > .identity-box-button {
    padding-inline: calc(var(--urlbar-icon-padding) + 3px) var(--urlbar-icon-padding) !important;
}

#identity-box[pageproxystate="valid"]:is(.notSecureText, .chromeUI, .extensionPage) > .identity-box-button {
    &:hover:not([open]) {
        background-color: var(--button-background-color-hover) !important;
    }
    &:is(:hover:active, [open]) {
        background-color: var(--button-background-color-active) !important;
    }
}

#remote-control-box, #tracking-protection-icon-container, #notification-popup-box, .identity-box-button,
.urlbar-revert-button, .urlbar-show-page-actions-button, .urlbar-go-button, .search-go-button,
.urlbar-page-action, #urlbar-zoom-button, #userContext-icons,
.urlbar-input-container #reload-button, .urlbar-input-container #stop-button {
    align-items: center !important;
    justify-content: center !important;
    opacity: .63 !important;
    &:hover{
        opacity: 1 !important;
    }
}

#identity-permission-box {
	fill: currentColor;
	fill-opacity: var(--urlbar-icon-fill-opacity);
}

#notification-popup-box {
    background-color: var(--urlbar-box-hover-bgcolor) !important;
}

#urlbar-zoom-button {
    margin-inline: 0 !important;

    &:hover {
        background-color: var(--button-background-color-hover) !important;

        &:active {
            background-color: var(--button-background-color-active) !important;
        }
    }
}

.urlbar-input-container #reload-button,
.urlbar-input-container #stop-button {
    width: calc(var(--urlbar-min-height) - 2px /* border */ - 2 * var(--urlbar-container-padding)) !important;
    height: calc(var(--urlbar-min-height) - 2px /* border */ - 2 * var(--urlbar-container-padding)) !important;
    padding-inline: var(--urlbar-icon-padding) !important;
    border-radius: var(--urlbar-icon-border-radius) !important;
    --toolbarbutton-icon-fill: var(--toolbar-field-color) !important;
    &:hover {
        background-color: var(--urlbar-box-hover-bgcolor) !important;
        color: var(--urlbar-box-hover-text-color) !important;
    }

    &:hover:active {
        background-color: var(--urlbar-box-active-bgcolor) !important;
        color: var(--urlbar-box-hover-text-color) !important;
    }
    .toolbarbutton-icon {
		background-color: transparent !important;
	}
	#urlbar:is([focused], [open]) & {
        --toolbarbutton-icon-fill: var(--toolbar-field-focus-color) !important;
	}
}

#remote-control-box, #tracking-protection-icon-container, #identity-permission-box, #notification-popup-box, #stop-reload-button {
    .urlbar-input-container[pageproxystate="invalid"] & {
        display: none !important;
    }
}

/* Buttons */

#nav-bar-customization-target {
    padding-inline-start: calc(var(--toolbar-start-end-padding) - var(--toolbarbutton-outer-padding)) !important;
    & > :is(toolbarbutton, toolbaritem):first-child, & > toolbarpaletteitem:first-child > :is(toolbarbutton, toolbaritem) {
        padding-inline-start: var(--toolbarbutton-outer-padding) !important;
    }
}

:root:not([customizing]) #back-button[disabled],
:root:not([customizing]) #forward-button[disabled] {
    display: none !important;
}

@media not (-moz-bool-pref: "extensions.unifiedExtensions.enabled") {
    #unified-extensions-button {
        display: none !important;
    }
}

@media not (-moz-bool-pref: "userChrome.menuButton.enabled") {
    #PanelUI-menu-button {
        display: none !important;
    }
}

@media not (-moz-bool-pref: "userChrome.urlbar.starButton.enabled") {
    #star-button-box{
        display: none !important;
    }
}

#private-browsing-indicator-with-label,
.private-browsing-indicator-with-label {
    display: none !important;
}

#PanelUI-menu-button {
    padding-inline-end: var(--toolbarbutton-outer-padding) !important;
}

#PanelUI-button {
    padding-inline-end: calc(var(--toolbar-start-end-padding) - var(--toolbarbutton-outer-padding)) !important;
}

@media (-moz-platform: windows) {
    #PanelUI-button {
        padding-inline-end: 0 !important;
    }
}

.toolbaritem-combined-buttons:not([widget-type="button-and-view"], [widget-type="custom"]),
.toolbaritem-menu-buttons {
    padding-inline: var(--toolbarbutton-outer-padding) !important;
    margin: 0 !important;
}

#appMenu-zoomReset-button2[disabled], #zoom-reset-button[disabled] {
  opacity: var(--inactive-titlebar-opacity) !important;
}

:root:not([customizing]) .toolbarbutton-1[disabled] {
  opacity: var(--toolbarbutton-disabled-opacity) !important;
}

:root:not([customizing]) .toolbarbutton-1:not(:hover):not([disabled]):-moz-window-inactive,
:root[customizing] .toolbarbutton-1:-moz-window-inactive,
.bookmark-item:not(:hover):-moz-window-inactive,
.tab-icon-stack:-moz-window-inactive, .tab-label-container:-moz-window-inactive,
.titlebar-button:not(:hover):not([disabled]):-moz-window-inactive,
#main-menubar > menu:not(:hover):not([disabled]):-moz-window-inactive,
findbar:-moz-window-inactive {
    opacity: var(--inactive-titlebar-opacity) !important;
}

:root:not([customizing]) #TabsToolbar .toolbarbutton-1:not(:hover):not([disabled]):-moz-window-inactive,
:root[customizing] #TabsToolbar .toolbarbutton-1:-moz-window-inactive,
#scrollbutton-up:not(:hover):not([disabled]):-moz-window-inactive,
#scrollbutton-down:not(:hover):not([disabled]):-moz-window-inactive {
    opacity: 1 !important;
    > .toolbarbutton-icon,
    > .toolbarbutton-text,
    > .toolbarbutton-badge-stack {
        opacity: var(--inactive-titlebar-opacity) !important;
    }
}

.tab-icon-stack:-moz-window-inactive,
#fxa-avatar-image:-moz-window-inactive,
#PlacesToolbarItems > .bookmark-item:-moz-window-inactive > .toolbarbutton-icon {
    filter: grayscale(100%);
}

#customization-palette .toolbarbutton-1 {
    opacity: 1 !important;
}

toolbarspring {
    margin-block: 0 !important;
}

#PersonalToolbar toolbarspring {
    height: 22px !important;
}

/* Tabs */

#TabsToolbar {
    min-height: 0 !important;
}

.tabbrowser-tab[pinned] {
    padding: 0 var(--toolbarbutton-outer-padding) !important;
}

.tabbrowser-tab:not([pinned]) {
    transition: min-width 300ms, max-width 300ms !important;
    margin: 0 var(--toolbarbutton-outer-padding) !important;
    padding: 0 !important;
    &[fadein]:not([style*="max-width"]):not([selected]) {
        min-width: 74px !important;
        max-width: 148px !important;
    }
    &[fadein]:not([style*="max-width"])[selected] {
        min-width: 240px !important;
        max-width: 100% !important;
        visibility: hidden !important;
    }
}

.tab-content[pinned] {
    padding: 0 8px !important;
}

#tabbrowser-tabs {
    font-size: 12px !important;
    min-height: var(--tab-min-height) !important;
    padding-inline: var(--tab-overflow-pinned-tabs-width) 0 !important;
}

.tab-background {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    .tabbrowser-tab > .tab-stack > &:not([selected], [multiselected]) {
        background-color: var(--tab-hover-background-color) !important;
    }
    .tabbrowser-tab:hover > .tab-stack > &:not([selected], [multiselected]) {
        background-color: var(--toolbarbutton-active-background) !important;
    }
    .tabbrowser-tab > .tab-stack > &[selected] {
        background-color: var(--toolbar-field-background-color) !important;
        box-shadow: none !important;
    }
    .tabbrowser-tab > .tab-stack > &[multiselected] {
        background-color: var(--toolbar-field-background-color) !important;
    }
}

#scrollbutton-up,
#scrollbutton-down {
    border: 0 !important;
    border-radius: 0 !important;
    padding: 0 var(--toolbarbutton-outer-padding) !important;
    &:not([disabled]):hover {
        background-color: transparent !important;
        .toolbarbutton-icon {
            background-color: var(--toolbarbutton-hover-background) !important;
        }
    }
    .toolbarbutton-icon {
        border-radius: var(--tab-border-radius) !important;
        padding: var(--toolbarbutton-inner-padding) calc(var(--toolbarbutton-inner-padding) - 2px) !important;
    }
}

#scrollbutton-up {
    padding: 0 calc(var(--toolbarbutton-outer-padding) * 2) 0 var(--toolbarbutton-outer-padding) !important;
}

#scrollbutton-down {
    padding: 0 var(--toolbarbutton-outer-padding) 0 calc(var(--toolbarbutton-outer-padding) * 2) !important;
}

#tabbrowser-arrowscrollbox[overflowing] {
    > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) {
        margin-inline-start: 0 !important;
    }
    > .tabbrowser-tab:last-of-type {
        margin-inline-end: 0 !important;
    }
}

.tab-label-container[pinned] {
    display: none !important;
}

.tab-icon-stack {
    margin-inline-start: auto !important;
}

.tab-label-container {
    flex: auto 0 1 !important;
    margin-inline-end: auto !important;
    padding-inline-start: 0 !important;
    padding-inline-end: 20px !important;
}

.tab-label {
    line-height: inherit !important;
}

.tab-close-button {
    order: -1 !important;
    margin: 0 !important;
    margin-inline-start: -6px !important;
    margin-inline-end: 3px !important;
    padding: 3px !important;
    width: 17px !important;
    height: 17px !important;
    border-radius: 2px !important;
    opacity: 0;
    transition: opacity 200ms !important;
    &:hover {
        background-color: light-dark( rgba(0, 0, 0, .11), rgba(255, 255, 255, .17) ) !important;
    }
    &:hover:active {
        background-color: light-dark( rgba(0, 0, 0, .27), rgba(255, 255, 255, .32) ) !important;
    }
    .tabbrowser-tab:hover & {
        opacity: 1;
    }
	&[pinned], #tabbrowser-tabs[closebuttons="activetab"]:not([orient="vertical"]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab > .tab-stack > .tab-content > &:not([selected]) {
		display: flex !important;
	&[pinned] {
		display: none !important;
	}
  	}
}

#TabsToolbar {
    .toolbarbutton-1,
    .chromeclass-toolbar-additional,
    .toolbaritem-combined-buttons {
        margin: 0 !important;
        padding-inline: 0 !important;
        > .toolbarbutton-icon,
        > .toolbarbutton-text,
        > .toolbarbutton-badge-stack {
            border-radius: 0px !important;
            transition: background-color 200ms !important;
        }
        & > separator {
            display: none !important;
        }
    }
}

#tabbrowser-arrowscrollbox-periphery {
    display: none !important;
}

#tabbrowser-tabs[hasadjacentnewtabbutton]:not([overflow]) ~ #new-tab-button,
#tabbrowser-tabs[orient="vertical"] > #tabbrowser-arrowscrollbox > #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button,
#tabbrowser-tabs[overflow] > #tabbrowser-arrowscrollbox > #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button,
#tabbrowser-tabs:not([hasadjacentnewtabbutton]) > #tabbrowser-arrowscrollbox > #tabbrowser-arrowscrollbox-periphery > #tabs-newtab-button,
#TabsToolbar[customizing] #tabs-newtab-button {
    display: flex !important;
}

.tab-preview-thumbnail-container {
    order: -1;
}

#new-tab-button {
    list-style-image: url(chrome://global/skin/icons/plus.svg) !important;
}

/* bookmark bar */

#PersonalToolbar {
    background-color: transparent !important;
    font-size: 11px !important;
    align-items: center !important;
    .toolbarbutton-1 {
        height: 20px !important;
        margin: 4px 0px !important;
        border-radius: 4px !important;
        > .toolbarbutton-icon,
        > .toolbarbutton-text,
        > .toolbarbutton-badge-stack {
            padding-top: 3px !important;
            padding-bottom: 3px !important;
            min-height: 0 !important;
        }
    }
    > .bookmark-item,
    #PlacesToolbar > .bookmark-item,
    toolbarpaletteitem > .bookmark-item {
        height: 20px !important;
        padding: 0px 6px !important;
        margin: 4px 2px !important;
        border-radius: 4px !important;
    }
    #PlacesToolbarItems {
        height: 20px !important;
        margin: 4px 0px !important;
        justify-content: safe center !important;
        > .bookmark-item {
        padding: 0px 6px !important;
        margin: 0px 2px !important;
        border-radius: 4px !important;
        }
    }
}

#PersonalToolbar {
    height: 28px !important;
    margin-top: -7px !important;
    margin-bottom: 5px !important;
}

#navigator-toolbox {
  border-bottom: 0.5px solid var(--chrome-content-separator-color) !important;
}

#TabsToolbar-customization-target #personal-bookmarks {
    font-size: 11px !important;
    min-width: 0 !important;
}

#TabsToolbar-customization-target > #personal-bookmarks #PlacesToolbarItems > .bookmark-item {
    border-radius: 0px !important;
    margin: 0 !important;
    transition: background-color 200ms !important;
    .toolbarbutton-text {
        display: none !important;
    }
    .toolbarbutton-icon {
        margin-inline: 2px !important;
    }
}

#TabsToolbar-customization-target #personal-bookmarks #PlacesToolbarItems > toolbarseparator {
    margin-inline-start: -1px !important;
    padding: 0 !important;
    &::before {
        border-inline-start: 1px solid var(--tabbar-separator-color) !important;
        border-image-source: none !important;
    }
}

#nav-bar-customization-target > #personal-bookmarks #PlacesToolbar {
    align-items: center !important;
    #PlacesToolbarItems > .bookmark-item {
        height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
        margin-inline: var(--toolbarbutton-outer-padding) !important;
        .toolbarbutton-text {
            display: none !important;
        }
        .toolbarbutton-icon {
            margin-inline: 2px !important;
        }
    }
    #PlacesToolbarItems > toolbarseparator {
        padding: 4px !important;
    }
}

/* menu bar */

#toolbar-menubar {
    .toolbarbutton-1,
    .chromeclass-toolbar-additional,
    .toolbaritem-combined-buttons {
        padding: 0 !important;
        margin: 0 !important;
        height: 19.5px !important;
        align-items: normal !important;
        > .toolbarbutton-icon {
            padding-top: 3px !important;
            padding-bottom: 3px !important;
            align-items: center !important;
            padding-inline: 7px !important;
            border-radius: 0px !important;
            height: inherit !important;
            min-height: 0 !important;
        }
        > .toolbarbutton-text,
        > .toolbarbutton-badge-stack {
            padding-top: 3px !important;
            padding-bottom: 3px !important;
            align-items: center !important;
            border-radius: 0px !important;
            height: inherit !important;
            min-height: 0 !important;
        }
        & > separator {
            display: none !important;
        }
    }
}

/* findbar */

.findbar-container {
    flex-direction: row-reverse;
}

.browserContainer > findbar {
    order: -1;
    border-top: none !important;
    border-bottom: 0.5px solid ThreeDShadow;
    border-bottom-color: var(--chrome-content-separator-color);
    padding-block: 4px !important;
    &:where([hidden]) {
		margin-bottom: calc(-1 * (28px + 8px + 1px)) !important;
	}
}

.findbar-textbox {
    background-color: transparent !important;
}
