@-moz-document url-prefix("about:") {
    :root {
        --newtab-text-primary-color: var(--button-text-color) !important;
        --newtab-contextual-text-primary-color: var(--button-text-color) !important;
        --newtab-primary-action-background: var(--color-accent-primary) !important;
        --newtab-button-background: transparent !important;
        --newtab-element-hover-color: var(--button-background-color-hover) !important;
        --newtab-element-active-color: var(--button-background-color-active) !important;
        --newtab-button-static-background: light-dark(#F6F6F6, #3C3C3C) !important;
        --newtab-button-static-hover-background: light-dark(#EFEFEF, #434343) !important;
        --newtab-button-static-active-background: light-dark(#E1E1E1, #505050) !important;
        --newtab-background-color: light-dark(#FDFDFD, #363636) !important;
        --newtab-background-color-secondary: light-dark(#FFFFFF, #434343) !important;
        --background-color-canvas: light-dark(#FFFFFF, #222222) !important;
        --background-color-box: light-dark(#FFFFFF, #272727) !important;
        --in-content-table-background: var(--background-color-box) !important;
        --button-text-color: light-dark( rgba(0, 0, 0, .8), rgb(255, 255, 255) ) !important;
        --button-text-color-hover: var(--button-text-color) !important;
        --button-text-color-active: var(--button-text-color) !important;
        --button-text-color-disabled: var(--button-text-color) !important;
        --button-text-color-primary: light-dark(#FDFDFD, #363636) !important;
        --button-text-color-primary-hover: var(--button-text-color-primary) !important;
        --button-text-color-primary-active: var(--button-text-color-primary) !important;
        --button-text-color-primary-disabled: var(--button-text-color-primary) !important;
        --button-background-color: light-dark( rgba(0, 0, 0, .0275), rgba(255, 255, 255, .0325) ) !important;
        --button-background-color-hover: light-dark( rgba(0, 0, 0, .055), rgba(255, 255, 255, .065) ) !important;
        --button-background-color-active: light-dark( rgba(0, 0, 0, .11), rgba(255, 255, 255, .13) ) !important;
        --button-background-color-disabled: var(--button-background-color) !important;
        --button-bgcolor: var(--button-background-color) !important;
        --button-hover-bgcolor: var(--button-background-color-hover) !important;
        --button-active-bgcolor: var(--button-background-color-active) !important;
        --color-accent-primary: light-dark(#2266EE, #50A6FA) !important;
        --focus-outline-color: var(--color-accent-primary) !important;
        --link-color: light-dark(#0360E5, #25A0FF) !important;
        --link-color-visited: var(--link-color) !important;
    }
}
